<section class="testimonials-two py-desktop-80 py-mobile-48">
    <div class="testimonials-two__container container">
        <div class="testimonials-two__slider testimonials-two-slider">
            <div class="testimonials-two-slider__swiper swiper">
                <div class="testimonials-two-slider__wrapper swiper-wrapper">
                    <div class="testimonials-two-slider__item testimonials-two-slider-item swiper-slide">
                        <div class="testimonials-two-slider-item__column">
                            <div class="testimonials-two-slider-item__name">
                                <p class="text text--m text--medium">Константин Константинопольский</p>
                                <p class="text text--m text--medium">Менеджер</p>
                            </div>
                            <p class="testimonials-two-slider-item__title title-desktop title-desktop--h5 title-desktop--semibold title-mobile title-mobile--h5 title-mobile--semibold">Меньше чем за год мы открыли седьмую точку</p>
                            <p class="testimonials-two-slider-item__desc text-desktop text-desktop--xl text-mobile text-mobile--xl">На май 2023 года мы открыли в Санкт-Петербурге уже 7 точку! Уже 6 хороших друзей по моей личной рекомендации открыли торговые представительства в разных городах России. И успешно развиваются</p>
                            <a href="" class="testimonials-two-slider-item__btn button-text button-text--l button-text--bold">Читать весь отзыв</a>
                        </div>
                        <div class="testimonials-two-slider-item__column">
                            <img src="" alt="" class="testimonials-two-slider-item__img">
                        </div>
                    </div>
                    <div class="testimonials-two-slider__item testimonials-two-slider-item swiper-slide">
                        <div class="testimonials-two-slider-item__column">
                            <div class="testimonials-two-slider-item__name">
                                <p class="text text--m text--medium">Константин Константинопольский</p>
                                <p class="text text--m text--medium">Менеджер</p>
                            </div>
                            <p class="testimonials-two-slider-item__title title-desktop title-desktop--h5 title-desktop--semibold title-mobile title-mobile--h5 title-mobile--semibold">Меньше чем за год мы открыли седьмую точку</p>
                            <p class="testimonials-two-slider-item__desc text-desktop text-desktop--xl text-mobile text-mobile--xl">На май 2023 года мы открыли в Санкт-Петербурге уже 7 точку! Уже 6 хороших друзей по моей личной рекомендации открыли торговые представительства в разных городах России. И успешно развиваются</p>
                            <a href="" class="testimonials-two-slider-item__btn button-text button-text--l button-text--bold">Читать весь отзыв</a>
                        </div>
                        <div class="testimonials-two-slider-item__column">
                            <img src="" alt="" class="testimonials-two-slider-item__img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials-two-slider__arrow testimonials-two-slider__arrow--prev">
                <button></button>
            </div>
            <div class="testimonials-two-slider__arrow testimonials-two-slider__arrow--next">
                <button></button>
            </div>
            <div class="testimonials-two-slider__pagination"></div>
        </div>
    </div>
</section>