<section class="testimonials-one py-desktop-80 py-mobile-48">
    <div class="testimonials-one__container container">
        <div class="testimonials-one__slider testimonials-one-slider">
            <div class="testimonials-one-slider__swiper swiper">
                <div class="testimonials-one-slider__wrapper swiper-wrapper">
                    <div class="testimonials-one-slider__item testimonials-one-slider-item swiper-slide">
                        <div class="testimonials-one-slider-item__column">
                            <img src="" alt="" class="testimonials-one-slider-item__img">
                            <div class="testimonials-one-slider-item__name">
                                <p class="text text--m text--medium">Константин<br> Константинопольский</p>
                                <p class="text text--m text--medium">Менеджер</p>
                            </div>
                        </div>
                        <div class="testimonials-one-slider-item__column">
                            <p class="testimonials-one-slider-item__title title-desktop title-desktop--h5 title-desktop--semibold title-mobile title-mobile--h5 title-mobile--semibold">Меньше чем за год мы открыли седьмую точку</p>
                            <p class="testimonials-one-slider-item__desc text-desktop text-desktop--xl text-mobile text-mobile--xl">На май 2023 года мы открыли в Санкт-Петербурге уже 7 точку! Уже 6 хороших друзей по моей личной рекомендации открыли торговые представительства в разных городах России. И успешно развиваются</p>
                            <a href="" class="testimonials-one-slider-item__btn button-text button-text--l button-text--bold">Читать весь отзыв</a>
                            <div class="testimonials-one-slider-item__bottom">
                                <div class="testimonials-one-slider-item__navigation">
                                    <a href="" class="testimonials-one-slider-item__arrow testimonials-one-slider-item__arrow--prev"></a>
                                    <a href="" class="testimonials-one-slider-item__arrow testimonials-one-slider-item__arrow--next"></a>
                                </div>
                                <div class="testimonials-one-slider-item__pagination"><span>1</span> / 20</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-one-slider__item testimonials-one-slider-item swiper-slide">
                        <div class="testimonials-one-slider-item__column">
                            <img src="" alt="" class="testimonials-one-slider-item__img">
                            <div class="testimonials-one-slider-item__name">
                                <p class="text text--m text--medium">Константин<br> Константинопольский</p>
                                <p class="text text--m text--medium">Менеджер</p>
                            </div>
                        </div>
                        <div class="testimonials-one-slider-item__column">
                            <p class="testimonials-one-slider-item__title title-desktop title-desktop--h5 title-desktop--semibold title-mobile title-mobile--h5 title-mobile--semibold">Меньше чем за год мы открыли седьмую точку</p>
                            <p class="testimonials-one-slider-item__desc text-desktop text-desktop--xl text-mobile text-mobile--xl">На май 2023 года мы открыли в Санкт-Петербурге уже 7 точку! Уже 6 хороших друзей по моей личной рекомендации открыли торговые представительства в разных городах России. И успешно развиваются</p>
                            <a href="" class="testimonials-one-slider-item__btn button-text button-text--l button-text--bold">Читать весь отзыв</a>
                            <div class="testimonials-one-slider-item__bottom">
                                <div class="testimonials-one-slider-item__navigation">
                                    <a href="" class="testimonials-one-slider-item__arrow testimonials-one-slider-item__arrow--prev"></a>
                                    <a href="" class="testimonials-one-slider-item__arrow testimonials-one-slider-item__arrow--next"></a>
                                </div>
                                <div class="testimonials-one-slider-item__pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>