<section class="tabs py-desktop-80 py-mobile-48">
    <div class="tabs__container container">
        <!-- Чтобы сделать 2 колонки повесьте класс .tabs__wrapper--column -->
        <div class="tabs__wrapper">
            <div class="tabs__btn tabs-btn">
                <div class="tabs-btn__swiper swiper">
                    <div class="tabs-btn__wrapper swiper-wrapper">
                        <div class="tabs-btn__item tabs-btn-item swiper-slide">
                            <img src="" alt="" class="tabs-btn-item__img">
                            <div class="tabs-btn-item__info">
                                <span class="tabs-btn-item__title text-input-desktop text-input-desktop--l text-input-mobile text-input-mobile--m">Константин константинопольский</span>
                                <span class="tabs-btn-item__subtitle text-input text-input--s">Подпись</span>
                            </div>
                        </div>
                        <div class="tabs-btn__item tabs-btn-item swiper-slide">
                            <img src="" alt="" class="tabs-btn-item__img">
                            <div class="tabs-btn-item__info">
                                <span class="tabs-btn-item__title text-input-desktop text-input-desktop--l text-input-mobile text-input-mobile--m">Константин константинопольский</span>
                                <span class="tabs-btn-item__subtitle text-input text-input--s">Подпись</span>
                            </div>
                        </div>
                        <div class="tabs-btn__item tabs-btn-item swiper-slide">
                            <img src="" alt="" class="tabs-btn-item__img">
                            <div class="tabs-btn-item__info">
                                <span class="tabs-btn-item__title text-input-desktop text-input-desktop--l text-input-mobile text-input-mobile--m">Константин константинопольский</span>
                                <span class="tabs-btn-item__subtitle text-input text-input--s">Подпись</span>
                            </div>
                        </div>
                        <div class="tabs-btn__item tabs-btn-item swiper-slide">
                            <img src="" alt="" class="tabs-btn-item__img">
                            <div class="tabs-btn-item__info">
                                <span class="tabs-btn-item__title text-input-desktop text-input-desktop--l text-input-mobile text-input-mobile--m">Константин константинопольский</span>
                                <span class="tabs-btn-item__subtitle text-input text-input--s">Подпись</span>
                            </div>
                        </div>
                        <div class="tabs-btn__item tabs-btn-item swiper-slide">
                            <img src="" alt="" class="tabs-btn-item__img">
                            <div class="tabs-btn-item__info">
                                <span class="tabs-btn-item__title text-input-desktop text-input-desktop--l text-input-mobile text-input-mobile--m">Константин константинопольский</span>
                                <span class="tabs-btn-item__subtitle text-input text-input--s">Подпись</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__content tabs-content">
                <div class="tabs-content__swiper swiper">
                    <div class="tabs-content__wrapper swiper-wrapper">
                        <div class="tabs-content__item tabs-content-item swiper-slide p-desktop-48 p-mobile-24">
                            <p class="tabs-content-item__title title-desktop title-desktop--h2 title-desktop--semibold title-mobile title-mobile--h2 title-mobile--semibold">Прототипы: быстрый и эффективный способ проверить свою идею</p>
                            <div class="tabs-content-item__desc">
                                <p class="text-desktop text-desktop--xl text-mobile text-mobile--xl">Прототипы — это быстрый и эффективный способ проверить свою идею на раннем этапе разработки. Они позволяют выявить потенциальные проблемы и внести необходимые изменения до того, как вы начнёте полную разработку продукта. Прототипы также могут быть использованы для получения обратной связи от пользователей, что может помочь улучшить дизайн и функциональность продукта.</p>
                            </div>
                        </div>
                        <div class="tabs-content__item tabs-content-item swiper-slide p-desktop-48 p-mobile-24">
                            <p class="tabs-content-item__title title-desktop title-desktop--h2 title-desktop--semibold title-mobile title-mobile--h2 title-mobile--semibold">Прототипы: быстрый и эффективный способ проверить свою идею</p>
                            <div class="tabs-content-item__desc">
                                <p class="text-desktop text-desktop--xl text-mobile text-mobile--xl">Прототипы — это быстрый и эффективный способ проверить свою идею на раннем этапе разработки. Они позволяют выявить потенциальные проблемы и внести необходимые изменения до того, как вы начнёте полную разработку продукта. Прототипы также могут быть использованы для получения обратной связи от пользователей, что может помочь улучшить дизайн и функциональность продукта.</p>
                            </div>
                        </div>
                        <div class="tabs-content__item tabs-content-item swiper-slide p-desktop-48 p-mobile-24">
                            <p class="tabs-content-item__title title-desktop title-desktop--h2 title-desktop--semibold title-mobile title-mobile--h2 title-mobile--semibold">Прототипы: быстрый и эффективный способ проверить свою идею</p>
                            <div class="tabs-content-item__desc">
                                <p class="text-desktop text-desktop--xl text-mobile text-mobile--xl">Прототипы — это быстрый и эффективный способ проверить свою идею на раннем этапе разработки. Они позволяют выявить потенциальные проблемы и внести необходимые изменения до того, как вы начнёте полную разработку продукта. Прототипы также могут быть использованы для получения обратной связи от пользователей, что может помочь улучшить дизайн и функциональность продукта.</p>
                            </div>
                        </div>
                        <div class="tabs-content__item tabs-content-item swiper-slide p-desktop-48 p-mobile-24">
                            <p class="tabs-content-item__title title-desktop title-desktop--h2 title-desktop--semibold title-mobile title-mobile--h2 title-mobile--semibold">Прототипы: быстрый и эффективный способ проверить свою идею</p>
                            <div class="tabs-content-item__desc">
                                <p class="text-desktop text-desktop--xl text-mobile text-mobile--xl">Прототипы — это быстрый и эффективный способ проверить свою идею на раннем этапе разработки. Они позволяют выявить потенциальные проблемы и внести необходимые изменения до того, как вы начнёте полную разработку продукта. Прототипы также могут быть использованы для получения обратной связи от пользователей, что может помочь улучшить дизайн и функциональность продукта.</p>
                            </div>
                        </div>
                        <div class="tabs-content__item tabs-content-item swiper-slide p-desktop-48 p-mobile-24">
                            <p class="tabs-content-item__title title-desktop title-desktop--h2 title-desktop--semibold title-mobile title-mobile--h2 title-mobile--semibold">Прототипы: быстрый и эффективный способ проверить свою идею</p>
                            <div class="tabs-content-item__desc">
                                <p class="text-desktop text-desktop--xl text-mobile text-mobile--xl">Прототипы — это быстрый и эффективный способ проверить свою идею на раннем этапе разработки. Они позволяют выявить потенциальные проблемы и внести необходимые изменения до того, как вы начнёте полную разработку продукта. Прототипы также могут быть использованы для получения обратной связи от пользователей, что может помочь улучшить дизайн и функциональность продукта.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-content__arrow tabs-content__arrow--prev">
                    <button></button>
                </div>
                <div class="tabs-content__arrow tabs-content__arrow--next">
                    <button></button>
                </div>
            </div>
        </div>
    </div>
</section>