<section class="slider py-desktop-80 py-mobile-80">
    <div class="slider__container container">
        <!-- Если нужно, чтобы стрелки были скрывающиеся, то добавить slider-box--hidden-arrows -->
        <div class="slider__box slider-box">
            <div class="slider-box__swiper swiper">
                <div class="slider-box__wrapper swiper-wrapper">
                    <div class="slider-box__item slider-box-item swiper-slide">
                        <div class="slider-box-item__test"></div> <!-- Поменять на нужное содержимое -->                        
                    </div>
                    <div class="slider-box__item slider-box-item swiper-slide">
                        <div class="slider-box-item__test"></div> <!-- Поменять на нужное содержимое -->
                    </div>
                    <div class="slider-box__item slider-box-item swiper-slide">
                        <div class="slider-box-item__test"></div> <!-- Поменять на нужное содержимое -->
                    </div>
                    <div class="slider-box__item slider-box-item swiper-slide">
                        <div class="slider-box-item__test"></div> <!-- Поменять на нужное содержимое -->                        
                    </div>
                    <div class="slider-box__item slider-box-item swiper-slide">
                        <div class="slider-box-item__test"></div> <!-- Поменять на нужное содержимое -->
                    </div>
                    <div class="slider-box__item slider-box-item swiper-slide">
                        <div class="slider-box-item__test"></div> <!-- Поменять на нужное содержимое -->
                    </div>
                </div>
            </div>    
            <div class="slider-box__arrow slider-box__arrow--prev">
                <button></button>
            </div>
            <div class="slider-box__arrow slider-box__arrow--next">
                <button></button>
            </div>  
            <div class="slider-box__pagination"></div>   
        </div>
    </div>
</section>