<section class="cards py-desktop-80 py-mobile-48">
    <div class="cards__container container">
        <div class="cards__row">
            @@include('./card-item.html', {
                "icon": "",
                "title": "Производительность",
                "desc": "Новые функции: искусственный интеллект и машинное обучение"
            })
            @@include('./card-item.html', {
                "icon": "",
                "title": "Производительность",
                "desc": "Новые функции: искусственный интеллект и машинное обучение"
            })
            @@include('./card-item.html', {
                "icon": "",
                "title": "Производительность",
                "desc": "Новые функции: искусственный интеллект и машинное обучение"
            })
            @@include('./card-item.html', {
                "icon": "",
                "title": "Производительность",
                "desc": "Новые функции: искусственный интеллект и машинное обучение"
            })
        </div>
    </div>
</section>