@import "../../colors";
@import "../../mixins";

.card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1.6rem;
    border: 0.1rem solid $black-10;
    background: $white-100;
    &__icon {
        // todo: на реальном проекте убрать
        width: 6.4rem;
        height: 6.4rem;
        background: $black-80;
    }
}