@import "colors";
@import "utils";
@import "fonts";
@import "normalize";
@import "typography";

*,
*::before,
*::after {
    font-family: Inter;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    line-height: 1;
}

html {
    font-size: 10px;
    @media screen and (max-width: 1440px) {
        font-size: calc(100vw / 1440 * 10);
    }
    @media screen and (max-width: 568px) {
        font-size: calc(100vw / 390 * 10);
    }
}

.container {
    width: 144rem;
    max-width: 100%;
    padding: 0 4.8rem;
    margin: 0 auto;
    @media screen and (max-width: 568px) {
        padding: 0 2.4rem;
    }
}

br[desktop] {
    @media screen and (max-width: 568px) {
        display: none;
    }
}

br[mobile] {
    @media screen and (min-width: 568px) {
        display: none;
    }
}