$gap_0: 0rem;
$gap_2: 0.2rem;
$gap_4: 0.4rem;
$gap_6: 0.6rem;
$gap_8: 0.8rem;
$gap_10: 1rem;
$gap_12: 1.2rem;
$gap_16: 1.6rem;
$gap_20: 2rem;
$gap_24: 2.4rem;
$gap_28: 2.8rem;
$gap_32: 3.2rem;
$gap_36: 3.6rem;
$gap_40: 4rem;
$gap_44: 4.4rem;
$gap_48: 4.8rem;
$gap_56: 5.6rem;
$gap_64: 6.4rem;
$gap_80: 8rem;
$gap_96: 9.6rem;
$gap_104: 10.4rem;
$gap_112: 11.2rem;
$gap_120: 12rem;
$gap_128: 12.8rem;
$gap_144: 14.4rem;
$gap_160: 16rem;
$gap_200: 20rem;